.box{
    padding: 0;
    background: white;
    color: none;
    border: 1px solid black;
    border-radius: 5px;
    width: 5rem;
    font-size: 50px;
    text-align: center;
    margin: 0.5rem;
    height: 2rem;
    line-height: 5rem;
    font-weight: bold;   
}
.box:hover{
    box-shadow: 0 0 3px black;
}
.x{
    color: rgb(255,70,37);
}
.o{
    color: rgb(44,135,255);
}
.board{
    display: grid;
    grid-template-columns: repeat(3, 6rem);
    place-items: center;
    justify-content: center;
}
.scoreboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 20rem;
    font-size:  1.5rem;
    background: white;
    margin: 3rem auto;
    box-shadow: 0 0 8px grey;
    font-weight: bold;
    border-radius: 0.5rem;
}
.score{
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}
.x-score{
    color: red;
    border-bottom: 5px solid red;
    border-radius: 0.5rem 0 0 0.5rem
}
.o-score{
    color: blue;
    border-bottom: 5px solid blue;
    border-radius: 0  0.5rem 0.5rem 0;
}
.inactive{
    border-bottom: 5px solid transparent;
}
.reset-btn{
    background: grey;
    color: black;
    color: white;
    font-weight: bold;
    font-size: 30px;
    box-shadow: 0 0 1px black;
    width: 270px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 10px;

}
